# Circuli - Capture & Reconnaissance Configuration
APP_NAME=Circuli
AIRFLOW_UID=50000
AIRFLOW_GID=0
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=circuli
MYSQL_PASSWORD=circuli
MYSQL_DATABASE=circuli
YOLO_MODEL=yolov8s.pt
